<% if current_user.nil? %>
  <%= link_to "Sign in", new_user_session_path %>
  <%= link_to "Sign up", new_user_registration_path %>
<% else %>

  <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
  <h1><%= "Welcome #{current_user.first_name}" %></h1>
  <h3>Contacts</h3>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <% @contacts["feed"]["entry"].each do |contact| %>
      <tr>
        <td><%= contact["title"]["$t"] %></td>
        <td><%= contact["gd$email"][0]["address"] %></td>
      </tr>
    <% end %>
  </table>
<% end %>
